llvmlite==0.41.1 ; python_version >= "3.10" and python_version < "3.11"
numba==0.58.1 ; python_version >= "3.10" and python_version < "3.11"
numpy==1.26.1 ; python_version >= "3.10" and python_version < "3.11"
pyqt6-qt6==6.5.3 ; python_version >= "3.10" and python_version < "3.11"
pyqt6-sip==13.6.0 ; python_version >= "3.10" and python_version < "3.11"
pyqt6==6.5.3 ; python_version >= "3.10" and python_version < "3.11"
pyqtgraph==0.13.3 ; python_version >= "3.10" and python_version < "3.11"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
validateddescriptor @ git+https://github.com/Moussa-Mikhail/validated-descriptor.git@main ; python_version >= "3.10" and python_version < "3.11"
