black==23.9.1 ; python_version >= "3.10" and python_version < "3.11"
click==8.1.7 ; python_version >= "3.10" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.11" and platform_system == "Windows"
llvmlite==0.41.0 ; python_version >= "3.10" and python_version < "3.11"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
mypy==1.5.1 ; python_version >= "3.10" and python_version < "3.11"
numba==0.58.0 ; python_version >= "3.10" and python_version < "3.11"
numpy==1.25.2 ; python_version >= "3.10" and python_version < "3.11"
packaging==23.1 ; python_version >= "3.10" and python_version < "3.11"
pathspec==0.11.2 ; python_version >= "3.10" and python_version < "3.11"
platformdirs==3.10.0 ; python_version >= "3.10" and python_version < "3.11"
ruff==0.0.290 ; python_version >= "3.10" and python_version < "3.11"
sourcery==1.10.0 ; python_version >= "3.10" and python_version < "3.11"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
typing-extensions==4.8.0 ; python_version >= "3.10" and python_version < "3.11"
validateddescriptor @ git+https://github.com/Moussa-Mikhail/validated-descriptor.git@main ; python_version >= "3.10" and python_version < "3.11"
