astroid==2.15.6 ; python_version >= "3.9" and python_version < "3.11"
attrs==23.1.0 ; python_version >= "3.9" and python_version < "3.11"
black==23.7.0 ; python_version >= "3.9" and python_version < "3.11"
click==8.1.7 ; python_version >= "3.9" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.11" and (sys_platform == "win32" or platform_system == "Windows")
dill==0.3.7 ; python_version >= "3.9" and python_version < "3.11"
flake8-bugbear==23.7.10 ; python_version >= "3.9" and python_version < "3.11"
flake8-comprehensions==3.14.0 ; python_version >= "3.9" and python_version < "3.11"
flake8==6.1.0 ; python_version >= "3.9" and python_version < "3.11"
isort==5.12.0 ; python_version >= "3.9" and python_version < "3.11"
lazy-object-proxy==1.9.0 ; python_version >= "3.9" and python_version < "3.11"
llvmlite==0.41.0rc1 ; python_version >= "3.9" and python_version < "3.11"
mccabe==0.7.0 ; python_version >= "3.9" and python_version < "3.11"
mypy-extensions==1.0.0 ; python_version >= "3.9" and python_version < "3.11"
mypy==1.5.1 ; python_version >= "3.9" and python_version < "3.11"
numba==0.58.0rc1 ; python_version >= "3.9" and python_version < "3.11"
numpy==1.25.2 ; python_version >= "3.9" and python_version < "3.11"
packaging==23.1 ; python_version >= "3.9" and python_version < "3.11"
pathspec==0.11.2 ; python_version >= "3.9" and python_version < "3.11"
platformdirs==3.10.0 ; python_version >= "3.9" and python_version < "3.11"
pycodestyle==2.11.0 ; python_version >= "3.9" and python_version < "3.11"
pyflakes==3.1.0 ; python_version >= "3.9" and python_version < "3.11"
pylint==2.17.5 ; python_version >= "3.9" and python_version < "3.11"
ruff==0.0.285 ; python_version >= "3.9" and python_version < "3.11"
tomli==2.0.1 ; python_version >= "3.9" and python_version < "3.11"
tomlkit==0.12.1 ; python_version >= "3.9" and python_version < "3.11"
typing-extensions==4.7.1 ; python_version >= "3.9" and python_version < "3.11"
validateddescriptor @ git+https://github.com/Moussa-Mikhail/validated-descriptor.git@main ; python_version >= "3.9" and python_version < "3.11"
wrapt==1.15.0 ; python_version >= "3.9" and python_version < "3.11"
